* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color :#2b2d42;
    --secondar-color :#8d99ae;
    --tertiary-color : #415a77;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25%;
    border: 1px solid var(--primary-color);
    width: fit-content;
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: var(--tertiary-color);
}
.ele1 > div, .ele2 > div {
    height: 100px;
    width: 100px;
}
#item1:nth-child(even), #item2:nth-child(odd) {
    background-color: var(--primary-color);
}
#item1:hover, #item2:hover {
    background-color: var(--secondar-color);
}
